<h1 class="text-center mt-4"><%= t('.forgot_your_password') %></h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 shadow p-3 mb-3 bg-info rounded">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= bootstrap_devise_error_messages! %>

        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-8">
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-outline-light btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
